<div class="container mt-2 ">
<table width="898" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
           <tr>
               <td height="62" align="centre" valign="center" bgcolor="#323232" >
                   <table width="898" border="0" cellpadding="0" cellspacing="0" >
                       <tbody>
                           <tr>
                               <td width="16">&nbsp;</td>
                               <td width="274"><a href="#"><img src="../../assets/images/e_Filing_logo.jpg"></a>
                              <a href="#"><img  alt="America Together" src="../../assets/images/final-logo.png"></a>
                            </td>
                            <td width="219">&nbsp;</td>
                            <td align="right" class="toplinks">FAQ's |
                                <a href="#" style="color:white;text-decoration: none;">Contact</a>   |
                                <a href="#"><button style="background:white" type="button" class="btn  btn-sm">View Demo</button></a>
                            </td>
                            <td>&nbsp;</td>
                           </tr>
                       </tbody>
                   </table>
               </td>
               <tr>
                   <td heigth="28" align="center" bgcolor="#65657f"><div class="wrap">
                       <div class="navbar">
                           <ul class="list">
                               <li><a routerLink="">Home</a> </li>
                               <li><a routerLink="./aboutus">About Us</a> </li>
                               <li> <a href="../../assets/How-To-Guide.pdf">How to Guide</a></li>
                           </ul>
                       </div>
                   </div>
                </td>
                </tr>
               
    </tbody>
</table>
<table width="898" align="center" border="0"  cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td *ngIf="!regcheck" height="204"><img src="../../assets/images/Center_image_old.jpg"></td>
        </tr>
        <tr>
            <td *ngIf="!regcheck" style="text-align: center; font-family: verdana,tahoma,helvetica; font-size: 12px; padding-top: 5px" bgcolor="#E9E9EC">
                <div class="text-blink " >
                    If you are already registered with e-filing.com web portal then use registered Email Id and Password to login otherwise go to SignUp and register yourself.
                    If you have any issue, please feel free to call our support at 805-364-0033 ext 107.
                </div>
        </td>
        </tr>
    </tbody>
</table>
</div>
