
<div class="container ">
    <table width="898" align="center" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td height="50" valign="middle" bgcolor="#65657f">
                    <table width="898" align="center" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="25">&nbsp;</td>
                                <td width="30"><img src="../../assets/images/Home_icon.jpg" height="31" width="30"></td>
                                <td width="148" class="bottom-links">6464 Hollister Suite 7G &nbsp;
                                    <br>    
                                Goleta, CA 93117
                            
                                </td>
                                <td width="30"><img src="../../assets/images/Phone_icon.jpg" height="31" width="30"></td>
                                <td width="125"class="bottom-links">For Technical Support &nbsp;
                                    <br>    
                                    800-207-6807
                                    <br>
                                    Monday-Friday 
                                    <br>
                                    
                                8.00 AM to 5.00 PM
                                </td>
                                <td width="10">&nbsp;</td>
                                <td width="30"><img src="../../assets/images/email_icon.jpg" height="31" width="30"></td>
                                <td width="111" ><a href="#" class="bottom-links">Technical Support</a></td>
                                <td width="25">&nbsp;</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="22" align="center" bgcolor="#9FA0B2" class="CopyRightText">© 2015 e-filing.com</td>
            </tr>
        </tbody>
    </table>
</div>
